<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">  
    <title>Traduction place</title>
    
    <meta name="viewport" conte
    nt="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Palindrome Checker</h1>
      </header>
      <div class="inputs">
        <input type="text" spellcheck="false" placeholder="Enter text or number">
        <button>Chequiar palindromo</button>
      </div>
      <p class="info-txt"></p>
    </div>
    <script src="../public/Scripts/script1.js"></script>

    
  </body>
</html>