<!DOCTYPE html>
<html lang="en">
    <style>
                
        * {
        box-sizing: border-box;
        }

        .row {
        display: flex;
        }

        .column {
        
        float: center;
        width: 50%;
        height: 100px; /* Should be removed. Only for demonstration */
        }
    </style>

    
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>A01376693</title>
    </head>

    <body>
    <!-- Título -->
        <div style = "background-color:rgba(134, 10, 58, 0.664);">
        <marquee direction = "right" behavior="alternate"; style="color: rgb(255, 255, 255); font-size:100px">
        The Sharma way
        </marquee>
        </div>
        
    <!-- Div entre 3 -->
    <section>
        <!-- <h1 class="about-title">About Us</h1> -->
        <div class="row" with="100%">
            <div class="columnpic" style="background-color: rgb(215, 190, 240)">
                <img width ="60%" left = "-30pts" src="https://images.fineartamerica.com/images-medium-large-5/6-chris-sharma-rock-climbing-deep-water-corey-rich.jpg">
            <br>
            <i> <b> Chris Sharma </b> haciendo psicobloc en España</i>
            </div>
            
            <div class="colum" style="background-color: rgb(255, 255, 255);">
                <marquee behavior="scroll" direction="up" scrollamount="1">
                    Chris Sharma es un deportista estadounidense que debido a sus<br>
                    multiples logros lo han marcado como uno de los mejores escaladores<br>
                    que hayan existido.<br>
                    <br><br>
                    A continuación frases célebres de este gran escalador:<br>
                    <br><br><br><br>
                    "Yo no entreno, sólo escalo, veo una línea y la pruebo a muerte" <br>
                    <br><br>
                    "Si nos ceñimos a la competición es normal que haya las mismas reglas,<br>
                    pero la roca es libre, y, por lo tanto, si quieres fumarte un porro,<br>
                    pues te lo fumas" <br>
                    <br><br>
                    "La escalada es un estilo de vida. Te permite viajar y visitar los lugares<br>
                     más espectaculares del mundo. Es lo que hace único a este deporte"<br>
                    <br><br>
                    "Una de las grandes ventajas de la escalada es que se puede practicar<br>
                    durante toda tu vida. Conozco a mucha gente que ahí sigue, a los 50 y a<br>
                     los 60, escalando como si nada. Y a un muy alto nivel. Yo espero hacer lo mismo" <br>
                    <br><br>
                    "En la vida siempre hay que tener retos, trabajarlos y ver si son posibles"<br>
                    <br><br>
                    
                </marquee>

            </div>
        </div>
    
      </section>

    </body>
    </html>