p{
    background-color: hotpink;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.clase1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: lightgreen;

}

#p9{
    background-color: yellowgreen;
}

